{% extends "home_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
    <form method="POST" action="">

        {% csrf_token %}

        <div style="width: 30%; margin: auto">

            {# parameter received from view's render with crispy format #}

            {{login_form|crispy}}

            <button type="submit" class="btn btn-outline-info">Log in</button>
            <button class="btn btn-outline-info">
                <a href="{% provider_login_url 'google'%}?next=/">
                    <i class="fab fa-google"></i>
                    Continue using Google
                </a>
            </button>
        </div>
    </form>
    <div style="text-align: center">
        <small>
            Need An Account? <a class="ml-2" href="{% url 'sign_up' %}"> Sign Up Now</a></br>
            <a href="{% url 'pass_reset' %}">Forgot Password?</a>
        </small>
    </div>
{% endblock %}
